*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}
.arrow{
    background-color: tomato;
    color: #fff;
    position: fixed;
    bottom: 10px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    right: 10px;
    border-radius: 50%;
    display: none;
}
.active{
    display: block;
}
a{
    text-decoration: none;
    color: #fff;
}
i{
    font-size: 22px;
}